body{
    margin: 0;
}

/* Prefabs */
.margin-top-sm{
    margin-top: 2rem;
}


.app-div{
    align-items: center;
    margin-top: 10%;
    border-radius: 5px;
    /* display: flex; */
    border: 4px dashed lightgray;
    justify-content: center;
    padding: 10px 0;
}


.upload-card{
    padding: 3rem 3rem;
}